section.articles(id="articles")
  .container 
    h2.main-h2 مقالات 
    .box 
      .item
        +item-article("image/cat-01.jpg","cat-01","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-02.jpg","cat-02","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-03.jpg","cat-03","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-04.jpg","cat-04","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-05.jpg","cat-05","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-06.jpg","cat-06","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-07.jpg","cat-07","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
      .item
        +item-article("image/cat-08.jpg","cat-08","عنوان المقال","وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال وصف المقال")
