section.discount(id="discount")
  .box
    img(src="image/discount-background1.jpg" alt="discount-background1")
    img(src="image/discount-background2.jpg" alt="discount-background2")
    .data
      h2 لماذا تتواصل معنا
      p الألم نفسه هو حب الرئيسي ، الدهني كلما زاد الطلب على الأشخاص الذين يتلقون الحشو ، فإنهم يوفرون احتياجات الطريقة المقبولة ، وعندما يتم اختيار المزايا للهروب السعيد من الحاضر. النظام بأكمله يكره الآلام أو ما شابهها من مشاق وما يسمى بآلام الجسم.
      .image
        img(src="image/discount.png" alt="discount")
  form
    .content
      h3 تواصل بنا
      input(type="text" name="" placeholder="اسمك")
      input(type="email" name="" placeholder="بريدك الالكتروني")
      input(type="tel" name="" placeholder="هاتفك")
      textarea(name="" cols="30" rows="10" placeholder="أخبرنا عن احتياجاتك")
      input(type="submit" value="إرسال") 