section.features(id="features")
  .container 
    h2.main-h2 المستقبل
    .box
      -var head = ["الأهداف", "التخطيط", "الرحلات"]
      -var prag = [" الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف  الوصف الوصف الوصف الوصف ","الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف","الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف الوصف"]
      - for (var y = 1; y <= 3; y++)
        div(class= "item" + y) 
          .image
            img(src="image/features-0" + y + ".jpg" alt="features-0" + y)
          .content 
            h3 #{head[y - 1]}
            p #{prag[y - 1]}
          a(href="#")
            bottom المزيد