section.landing
  .container
    .box
      .text
        h1 مرحبا في عالمنا
        p هنا سنشارك كل شيء عن حياتنا. كتب ، انجازات ، مناسبات ، ألعاب ، قصص وأحداث
      .image
        img(src="image/landing-image.png" alt="landing-image")
    .icon
      a(href="#articles")
        i(class="fas fa-angle-double-down fa-2x")

.up #[a(href="#") #[i(class="fas fa-arrow-up" )]] 
