section.latest-events(id="events")
  img(src="image/dots.png" alt="dots")
  img(src="image/dots.png" alt="dots")
  .container 
    h2.main-h2 أخر المناسبات 
    .box
      .image 
        img(src="image/events.png" alt="events")
      .content
        .time
          .data
            p 000
            span أيام
          .data
            p 00
            span ساعات
          .data
            p 00
            span الدقائق
          .data
            p 00
            span ثواني
        h3 فعالية أساتذة التكنولوجيا 2021
        p الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. وبالفعل ، فهو ملزم بألم العادلين للحصول على الحقيقة بأية وسيلة بخلاف عدم تلقي أيٍّ منها.
    form
      input(type="email" name="subscribe" placeholder="أدخل بريدك الإلكتروني")
      input(type="submit" value="اشترك")