section.testimonials(id="testimonials") 
  .container 
    h2.main-h2 قالوا عنا
    .box
      +testimonials-item(1,"محمد فرج","مطور كامل ",4,"الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. ونبذًا ملذات أسلافنا ، نحب البحث عما نعتقد أنه عمل فذ")
      +testimonials-item(2,"محمد إبراهيم","مطور كامل ",4,"الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. ونبذًا ملذات أسلافنا ، نحب البحث عما نعتقد أنه عمل فذ")
      +testimonials-item(3,"شادي نبيل","مطور كامل ",4,"الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. ونبذًا ملذات أسلافنا ، نحب البحث عما نعتقد أنه عمل فذ")
      +testimonials-item(4,"أمر هنداوي","مطور كامل ",5,"الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. ونبذًا ملذات أسلافنا ، نحب البحث عما نعتقد أنه عمل فذ")
      +testimonials-item(5,"شريف أشرف","مطور كامل المكدس",3,"الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. ونبذًا ملذات أسلافنا ، نحب البحث عما نعتقد أنه عمل فذ")
      +testimonials-item(6,"أسامة محمد","مطور كامل ",3,"الألم في حد ذاته مهم للنخبة الشحمية الرئيسية. ونبذًا ملذات أسلافنا ، نحب البحث عما نعتقد أنه عمل فذ")