section.landing
  .container
    .box
      .text
        h1 Welcome, To Our World
        p Here we going to share everything about our life. Books our reading, Games our Playing, Stories and Events
      .image
        img(src="image/landing-image.png" alt="landing-image")
    .icon
      a(href="#articles")
        i(class="fas fa-angle-double-down fa-2x")

.up #[a(href="#") #[i(class="fas fa-arrow-up" )]] 
